
@{
    ViewData["Title"] = "Confirm";
}

<h1>Thank you!</h1>

<h3>We received your question and will handle it soon.</h3>

<p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
</p>

