@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Customer Service</h2>
    <p>
        <a class="btn btn-primary" asp-controller="Questions" asp-action="Create">Ask a Question</a>
    </p>
    <p>OR</p>
    <p> <a asp-controller="Questions">Review</a> list of opened questions.</p>
</div>
